marisa_trie
rreplace
git+https://github.com/libindic/soundex.git#egg=soundex
git+https://github.com/balasankarc/indicngram.git#egg=indicngram
git+https://github.com/libindic/syllabalizer.git#egg=indicsyllabifier
