marisa_trie
libindic-utils
git+https://github.com/libindic/soundex.git#egg=libindic_soundex
git+https://github.com/libindic/indicngram.git#egg=libindic_ngram
git+https://github.com/libindic/indicstemmer.git#egg=libindic_stemmer
git+https://github.com/libindic/syllabalizer.git#egg=libindic_syllabifier
git+https://github.com/libindic/sandhi-splitter.git#egg=sandhisplitter

# from libindic-utils
repoze.lru; python_version < '3'
