{% extends "silpa.html" %}

{% block modulescript %}
<script>
  $(document).ready(function() {
    $("form").submit(function(event)
    {
      event.preventDefault();
      var idProgress = $('#progress'),
        idResult = $('#result'),
        idError = $('#error'),
        targetlang = $("select[name=lang]", 'form').val(),
        text= $("textarea[name=input_text]", 'form').val(),
        jsonRequest = {
          method:  "indicstemmer.stem",
          params: [text,targetlang],
          id: ""
        };

      if(text !== "") {
        $.ajax({
          type: "POST",
          contentType: "application/json; charset=utf-8",
          url: "JSONRPC",
          data: JSON.stringify(jsonRequest),
          dataType: "json",
          beforeSend:function(){
            idProgress.html("Processing. Please Wait...").show();
            idResult.empty();
            idError.hide();
          },
          success: function(msg) {
            idProgress.hide();
            var resultobj =  msg.result ;
            // TODO: write this in a better way.
            $('#result').append("<table id='resulttable' class='table table-bordered table-striped'><tr><th>Word</th><th>Stem</th></tr></table>").show();
            for (var key in resultobj){
            $('#resulttable tr:last').after("<tr><td>" + key +"</td><td>" + resultobj[key] +"</td></tr>" );
            };
          },
          error: function(msg) {
            idProgress.hide()
            idError.html("Something went wrong").show();
          }
        });
      } else {
        idResult.hide();
        idError.html("Enter text").show();
      }
    });
  });
</script>
{% endblock %}

{% block content %}
<div class="page-header">
<h1>Stemmer</h1>
</div>

<p>This application helps you to stem the words in the given text. Currently supports only Malayalam. Note that this is very experimental and uses a rule based approach.</p>
<form action="" method="post" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-3" for="lang">Language</label>
        <div class="col-sm-3">
            <select id="lang" name="lang" class="form-control">
                <option value="ml_IN">Malayalam</option>
                <option value="hi_IN">Hindi</option>                
                <option value="pu_IN">Punjabi</option>                
            </select>
	</div>
           <input type="submit" id="Stem_button" value="Stem"  name="action" class="btn btn-default pull-right"/>
     </div>
</form>
<form>
  <div class="form-group">
    <textarea  name='input_text' class="form-control ime" id='input_text'></textarea>
  </div>

</form>

<div id="progress" class="alert alert-info silpa-hide"></div>
<div id="error" class="alert alert-danger silpa-hide"></div>
<div id="result"></div>
</div>
{% endblock %}
